page-login {

.pega{
  background-image: url('/assets/img/fundo.jpg');
  background-size: cover;
  background-position: center;
}

.item, p{
  background: none;
  border: none;
  color: #fff;
  margin: auto;

}

}
